---
import Button from "./Button.astro";
import LogoBlack from "/logo_black.svg";
---

<nav>
	<div>
		<a href="#Main">
			<img src={LogoBlack} />
		</a>
		<ul>
			<li><a href="#AboutUs">O nas</a></li>
			<li><a href="#Concerts">Koncerty</a></li>
			<li><a href="#Offer">Oferta</a></li>
			<li><a href="#Contact">Kontakt</a></li>
		</ul>
	</div>
	<a href="#Contact" class="secondary">Dołącz do nas</a>
</nav>

<style>
	nav {
		display: grid;
		grid-template-columns: 1fr 230px;
		gap: 6rem;
		align-items: center;
		height: 80px;
		position: fixed;
		top: 0;
		width: 1024px;
		z-index: 2;
	}

	nav::before {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		width: 100vw;
		height: 80px;
		background-color: var(--main-bg);
		z-index: -1;
		transform: translateX(-50%);
		/* transform-origin: center; */
	}

	nav div {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	nav img {
		height: 50px;
	}

	nav ul {
		display: flex;
		list-style: none;
		margin-right: 50px;
	}

	nav ul li {
		margin-left: 20px;
	}

	nav ul li a {
		text-decoration: none;
		color: var(--main-text);
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.5px;
	}

	.secondary {
		border: 2px solid #0f0f0f;
		border-radius: 2px;
		background-color: transparent;
		color: #0f0f0f;
		font-size: 20px;
		padding: 16px 32px;
		transition: box-shadow 250ms ease;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
	}

	.secondary:hover {
		cursor: pointer;
		border-color: #232323;
		box-shadow: 0px 5px 5px 2px rgba(15, 15, 15, 0.1);
	}
</style>
