---
import Button from "../components/Button.astro";
---

<section>
	<div>
		<h1>Stowarzyszenie Maxime</h1>

		<hr />

		<p>
			Jesteśmy młodą organizacją non profit, działającą na rzecz kultury i
			promocji wydarzeń muzycznych. Dajemy możliwość rozwoju i wsparcia młodym
			muzykom, którzy tak, jak my, kochają swoją pracę.
		</p>

		<Button title="Zobacz naszą ofertę" type="fancy" />
	</div>
	<div
		style="background-color: var(--sub-text); width: 100%; height: 500px; border-radius: 0 0 1000px 1000px; z-index: 3"
	>
	</div>
</section>

<style>
	section {
		display: grid;
		grid-template-columns: 1fr 230px;
		gap: 6rem;
	}

	hr {
		color: #d6a151;
	}

	h1 {
		font-family: "Oxygen", sans-serif;
		font-size: 6rem;
		margin-top: 10rem;
		margin-bottom: 3rem;
	}

	p {
		color: var(--sub-text);
		font-size: 1.25rem;
		line-height: 2;
		letter-spacing: 0.5px;
		margin-block: 60px;
	}
</style>
