---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo_maxime_basic.ico" />
		<meta name="generator" content={Astro.generator} />
		<script
			src="https://code.jquery.com/jquery-3.7.0.min.js"
			integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
			crossorigin="anonymous"></script>
		<script
			type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
		></script>
		<!-- Add the slick-theme.css if you want default styling -->
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
		/>
		<!-- Add the slick-theme.css if you want default styling -->
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
		/>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400&Roboto:wght@100;400;700&display=swap");
	:root {
		--accent: #d6a152;
		--main-text: #0f0f0f;
		--sub-text: #3d3d3d;
		--main-bg: #f6f6f6;
		--secondary-bg: #eee;
	}
	html {
		font-family: "Roboto", sans-serif;
		background-color: var(--main-bg);
		color: var(--main-text);
		scroll-behavior: smooth;
		scroll-padding-top: 80px;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}
	body {
		max-width: 1024px;
		margin: 0 auto;
		overflow-x: hidden;
	}
	.slick-arrow::before {
		color: var(--main-text);
	}
</style>
